@import 'colors';

.card {
	margin-top: 50px;
	border-radius: 5px;
	background-color: $darkelements;
	height: 320px;
	width: 250px;

	.content {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;

		h5 {
			font-weight: 650;
		}
		h5 > span {
			font-weight: 300;
		}
	}
	.content > * {
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 600;
		color: $darktext-lightelement;
		margin-left: 25px;
		margin-bottom: -18px;
	}

	.content h4 {
		font-weight: 800;
		margin-bottom: -10px;
	}

	img {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		width: 250px;
	}
}
