@import 'colors';

@mixin infocont {
	margin-left: 120px;

	.info {
		margin-top: -20px;
		display: flex;
		flex-direction: column;
		h5 {
			font-size: 12px;
			font-weight: 600;
		}
		h5 > span {
			font-weight: 300;
		}
		div {
			margin-bottom: -30px;
		}
	}
}

@mixin borders {
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 7px rgb(24, 23, 23);
	width: 100px;
	height: 30px;
	cursor: pointer;
}

@mixin button {
	margin-top: 50px;
	margin-left: 70px;
	border-radius: 5px;
	box-shadow: 1px 1px 7px rgb(24, 23, 23);
	width: 120px;
	height: 35px;
	font-size: 15px;
	&:hover {
		cursor: pointer;
	}
}

.container {
	display: flex;
	margin-top: 50px;
	margin-left: 70px;
}

.button-dark {
	@include button;
	border: 1px solid $darkbackground;
	background-color: $darkelements;
	color: $darktext-lightelement;
	&:hover {
		background-color: $darkbackground;
	}
}
.button-light {
	@include button;
	border: 1px solid $lightbackground;
	background-color: $lightbackground;
	color: $lighttext;
	&:hover {
		background-color: $darktext-lightelement;
	}
}

.image {
	height: auto;
	width: 500px;
}

.infocont-dark {
	@include infocont;
	h1 {
		color: $darktext-lightelement;
	}

	h5 {
		color: $darktext-lightelement;
	}
}
.infocont-light {
	@include infocont;
	h1 {
		color: $lighttext;
	}

	h5 {
		color: $lighttext;
	}
}

.borders-dark {
	@include borders;
	color: $darktext-lightelement;
	border: 1px solid $darkbackground;
	background-color: $darkelements;
}
.borders-light {
	@include borders;
	color: $lighttext;
	border: 1px solid $lightbackground;
	background-color: $lightbackground;
}

.bordercont-dark {
	width: 500px;
	margin-top: 35px;
	h5 {
		color: white;
		display: inline-block;
	}
}
.bordercont-light {
	width: 500px;
	margin-top: 35px;
	h5 {
		color: $lighttext;
		display: inline-block;
	}
}

.rightside {
	position: absolute;
	float: rigth;
	right: 250px;
	width: 200px;
}

.borderdiv {
	margin-top: 40px;
	padding-bottom: 1px;
}
