@import 'colors';

@mixin header {
	margin-top: -10px;
	margin-left: -10px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

@mixin h2 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	padding-left: 50px;
}

@mixin theme {
	display: flex;
	padding-right: 50px;
	cursor: pointer;
}

.header-dark {
	@include header;
	background-color: $darkelements;

	h2 {
		@include h2;
		color: $darktext-lightelement;
	}
}

.header-light {
	@include header;
	background-color: $lightbackground;

	h2 {
		@include h2;
		color: $lighttext;
	}
}

.theme-dark {
	@include theme;

	img {
		height: 20px;
		margin-top: 20px;
	}

	h5 {
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 600;
		color: $darktext-lightelement;
		margin-left: 10px;
	}
}

.theme-light {
	@include theme;
	img {
		height: 20px;
		margin-top: 20px;
	}
	h5 {
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 600;
		color: $lighttext;
		margin-left: 10px;
	}
}

@media only screen and (max-width: 450px) {
	.header-dark {
		h2 {
			padding-left: 20px;
			font-size: 16px;
		}
	}

	.theme-dark {
		img {
			margin-top: 18px;
		}
		h5 {
			font-size: 12px;
		}
	}
	.header-light {
		h2 {
			padding-left: 20px;
			font-size: 16px;
		}
	}

	.theme-light {
		img {
			margin-top: 18px;
		}
		h5 {
			font-size: 12px;
		}
	}
}
