@import 'colors';

@mixin containermobile {
	margin-left: 70px;
	opacity: 1;
	display: flex;
	width: 250px;
	height: 50px;
	border-radius: 5px;
	margin-top: 50px;
	box-shadow: 0 0 5px $darkbackground;

	img {
		width: 20px;
		height: 20px;
		margin-top: 15px;
		margin-left: 20px;
		margin-right: 20px;
	}
	input {
		border: none;
		margin-top: 9px;
		width: 350px;
		height: 35px;
		font-family: 'Nunito Sans', sans-serif;
	}
}

@mixin container {
	margin-left: 70px;
	opacity: 1;
	display: flex;
	width: 450px;
	height: 50px;
	border-radius: 5px;
	margin-top: 50px;
	box-shadow: 0 0 5px $darkbackground;

	img {
		width: 20px;
		height: 20px;
		margin-top: 15px;
		margin-left: 20px;
		margin-right: 20px;
	}
	input {
		border: none;
		margin-top: 9px;
		width: 350px;
		height: 35px;
		font-family: 'Nunito Sans', sans-serif;
	}
}

.container-dark {
	@include container;
	background-color: $darkelements;

	input {
		color: $darktext-lightelement;
		background-color: $darkelements;
	}

	input::placeholder {
		color: $darktext-lightelement;
	}
}

.container-light {
	@include container;
	background-color: $lightbackground;

	input {
		color: $lighttext;
		background-color: $lightbackground;
	}

	input::placeholder {
		color: $lighttext;
	}
}

@media screen and (max-width: 800px) {
	.container-dark {
		@include containermobile;
	}
	.container-light {
		@include containermobile;
	}
}
